DATABASE_CLIENT=[yourDatabaseClient]
DATABASE_HOST=[yourDatabaseHost]
DATABASE_PORT=[yourDatabasePort]
DATABASE_NAME=[yourDatabase]
DATABASE_USERNAME=[yourUsername]
DATABASE_PASSWORD=[yourPassword]
DATABASE_SSL=false
HOST=[yourHost]
PORT=[yourPort]
APP_KEYS=[yourAppkeys]
API_TOKEN_SALT=[yourTokenSalt]
ADMIN_JWT_SECRET=[yourJwtSecret]
JWT_SECRET=[yourJwtSecret]
STRIPE_PRIVATE_KEY=[yourKey]